

<ul>
  <% @team.each do |teammember|%>
  <li> <%=teammember %></li>
  <% end %>

</ul>

<h2 class= "picstitle">
  Team Pictures
</h2>

<div class= "team_pics">
<%= image_tag 'enrique.jpg', class: 'enrique_pic' %>
<%= image_tag 'james.jpg', class: 'james_pic' %>
</div>
